﻿@model UserCreateViewModel

<div class="modal fade" id="create-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Create" asp-controller="Account" data-ajax-method="post" data-ajax="true" data-ajax-failure="createError" data-ajax-success="createSuccess" data-ajax-update="result" id="create-form">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Новый пользователь</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="Surname" class="form-control form-control-sm" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Firstname" class="control-label"></label>
                        <input asp-for="Firstname" class="form-control form-control-sm" />
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Patronymic" class="control-label"></label>
                        <input asp-for="Patronymic" class="form-control form-control-sm" />
                        <span asp-validation-for="Patronymic" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control form-control-sm" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control form-control-sm" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-block">
                        Подтвердить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
