﻿@model UserIndexViewModel
@{
    ViewData["Title"] = "Пользователи";
}
<button type="button" class="btn btn-outline-secondary mr-3" data-toggle="modal" data-target="#create-modal">
    Новый пользователь
</button>
<partial name="_CreatePV" />
<hr />
<div class="col-12">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => x.Id)</th>
                <th>@Html.DisplayNameFor(x => x.UserName)</th>
                <th>@Html.DisplayNameFor(x => x.FullName)</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/Account/Index.js" asp-append-version="true" type="text/javascript"></script>
}