﻿@model LoginViewModel
@{
    ViewData["Title"] = "Вход в систему";
}

<div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6">
        <form method="post" class="form-horizontal" asp-route-returnUrl="@Model.ReturnUrl">
            <div class="card rounded-lg">
                <div class="card-header text-center">
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="UserName" class="sr-only"></label>
                            <input asp-for="UserName" class="form-control mb-2" placeholder="Логин" autofocus="" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Password" class="sr-only"></label>
                            <input asp-for="Password" class="form-control mb-2" placeholder="Пароль" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-block">Войти в систему</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>