﻿@model WordTranslationCreateViewModel

<div class="modal fade" id="create-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Create" data-ajax-method="post" data-ajax="true" data-ajax-failure="createError" data-ajax-success="createSuccess" data-ajax-update="result" id="create-form">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Добавление</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="WordType" class="control-label"></label>
                            <select asp-for="WordType" asp-items="ViewBag.Types" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="WordType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="LangId" class="control-label"></label>
                            <select asp-for="LangId" asp-items="ViewBag.Langs" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="LangId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="WordText" class="control-label"></label>
                            <input asp-for="WordText" class="form-control form-control-sm" />
                            <span asp-validation-for="WordText" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="TranslationLangId" class="control-label"></label>
                            <select asp-for="TranslationLangId" asp-items="ViewBag.TranslationLangs" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="TranslationLangId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="TranslationWordText" class="control-label"></label>
                            <input asp-for="TranslationWordText" class="form-control form-control-sm" />
                            <span asp-validation-for="TranslationWordText" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>