﻿<div class="modal fade" id="delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Delete" data-ajax-method="post" data-ajax="true" data-ajax-success="deleteSuccess" data-ajax-update="result" id="delete-form">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Удаление</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden name="DeleteWordId" id="DeleteWordId" />
                    <h5>Вы действительно хотите удалить данные?</h5>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-block">
                        Удалить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>