﻿@model WordTranslationEditViewModel

<div class="modal fade" id="edit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Edit" data-ajax-method="post" data-ajax="true" data-ajax-failure="editError" data-ajax-success="editSuccess" data-ajax-update="result" id="edit-form">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Добавление</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="WordId" />
                    <input type="hidden" asp-for="TranslationWordId" />
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="TypeId" class="control-label"></label>
                            <select asp-for="TypeId" asp-items="ViewBag.Types" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="TypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="LangIdEdit" class="control-label"></label>
                            <select asp-for="LangIdEdit" asp-items="ViewBag.Langs" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="LangIdEdit" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="WordTextEdit" class="control-label"></label>
                            <input asp-for="WordTextEdit" class="form-control form-control-sm" />
                            <span asp-validation-for="WordTextEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="TranslationLangIdEdit" class="control-label"></label>
                            <select asp-for="TranslationLangIdEdit" asp-items="ViewBag.TranslationLangs" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="TranslationLangIdEdit" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="TranslationWordTextEdit" class="control-label"></label>
                            <input asp-for="TranslationWordTextEdit" class="form-control form-control-sm" />
                            <span asp-validation-for="TranslationWordTextEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>