﻿@{
    ViewData["Title"] = "Панель поиска";
}

<div class="p-3">
    <button type="button" class="btn btn-outline-primary mr-3" data-toggle="modal" data-target="#create-modal">
        Новая запись
    </button>
</div>
<partial name="_CreatePV" />
<partial name="_EditPV" />
<partial name="_DeletePV" />
<hr />
<div class="bg-light p-3">
    <h2>@ViewData["Title"]</h2>
    <table>
        <tbody>
            <tr>
                <td>Слово:</td>
                <td><input class="form-control form-control-sm" type="text" id="txtWordText" /></td>
                <td>Часть речи:</td>
                <td>
                    <select asp-items="ViewBag.Types" class="form-control form-control-sm" id="ddlType">
                        <option value="">ВСЕ</option>
                    </select>
                </td>
                <td>
                    <input class="btn btn-sm btn-outline-info" type="button" value="Поиск" id="btnSearch" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr />
<div>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Слово</th>
                <th>Перевод</th>
                <th>Часть речи</th>
                <th>Действия</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/WordTranslation/Index.js" asp-append-version="true" type="text/javascript"></script>
}
