﻿@using TranslatorProject.Common.Enums
@{
    ViewData["Title"] = "Переводчик";
}

<div class="bg-light p-3">
    <h2>@ViewData["Title"]</h2>
    <table>
        <tbody>
            <tr>
                <td>Слово:</td>
                <td><input class="form-control form-control-sm" type="text" id="txtWordText" /></td>
                <td>Перевод на:</td>
                <td>
                    <select asp-items="Html.GetEnumSelectList<EnumLanguage>()" class="form-control form-control-sm" id="ddlType">
                    </select>
                </td>
                <td>
                    <input class="btn btn-sm btn-outline-info" type="button" value="Поиск" id="btnSearch" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="container">
    <table class="table table-hover text-center" id="table">
        <thead>
            <tr>
                <th scope="col">Слово</th>
                <th scope="col">Перевод</th>
                <th scope="col">Часть речи</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="progress" style="display:none">
    <h4>Loading...</h4>
</div>

@section Scripts {
    <script src="~/js/Translator/Index.js" asp-append-version="true" type="text/javascript"></script>
}