﻿@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">ДОБРО ПОЖАЛОВАТЬ</h1>
    <p>Если Вы ВСЁ-ТАКИ здесь, то можете что-нибудь потыкать =).</p>
</div>
